<div class="container py-5">
	<div class="row">
		<div class="card">
			<table class="table">
				<thead>
					<tr>
						<th>名前</th>
						<th>担当店舗</th>
					</tr>
				</thead>
				<tbody>
					<% @admin.each do |admin| %>
					<tr>
						<% if admin.is_main_administer == true %>
						<td class="text-info">
							<%= admin.family_name %>
							<%= admin.given_name %>
						</td>
						<% else %>
							<td>
							<%= admin.family_name %>
							<%= admin.given_name %>
						</td>
						<% end %>
							<% if admin.store_id.present? %>
								<td><% admin.store_id %></td>
							<% else %>
								<td>店舗無し</td>
							<% end %>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>