<% if @store.staffs.present? %>

  <% @store.staffs.each do |staff| %>

    <%= link_to "#{staff.family_name}#{staff.given_name}",staff_path(staff), class:"text-dark" %>

    <%= h_mm(totalwork(staff.works)) %> 　 #勤怠の合計

    <% staff.works.each do |workday| %>

			<% if workday.out.present?  %>
				<% sec = (workday.out.in_time_zone - workday.in.in_time_zone) %>
				<% h_mm(sec) %>
			<% else %>
				<td>出勤中</td>
				<td>未確定</td>
			<% end %>

			<% time = 0 %>
			<% workday.breaks.each do |break_time| %>
				<% unless break_time.break_out.blank? %>
					<% off_time = (break_time.break_out.in_time_zone - break_time.break_in.in_time_zone) %>
					<% time += off_time %>
				<% end %>
			<% end %>

			<td>
				<% if time == 0 %>
					無し
				<% else %>
					<% h_mm(time) %>
				<% end %>
			</td>

			<td>
				<% if sec == nil %>
					0
				<% else %>
					<%= h_mm(sec - time) %>
				<% end %>
			</td>


			<% end %>

  <% end %>

<% else %>

<% end %>