<div class="container py-4">
	<div class="row justify-content-center">
		<%= render 'form', work: @work, staff: @staff %>
		<%= link_to 'Back', staff_path(@staff), class: "btn btn-dark" %>
	</div>
</div>