<!-- instascan PC用 -->
<h1 class="text-center">QRコードをかざして下さい(PC用)</h1>
<div class="container">
  <div class="row justify-content-center">
    <!-- ここにカメラの映像を表示する -->
    <!-- <video id="preview"></video> -->

    <!-- ここにQRコードの情報を表示する -->
    <span id="info"></span>

  </div>
</div>


<!-- <script src="instascan.min.js"></script> -->
<script>
  //PC以外ならモバイル用のQR看取り画面へジャンプ
  // var ua = navigator.userAgent;
  // var redirectPass = 'cameras/index';
  // if(ua.search(/iPhone/) != -1 || ua.search(/iPad/) != -1 || ua.search(/iPod/) != -1 || ua.search(/Android/) != -1){
  //     location.href = redirectPass;
  // }//ここまで

  var videoTag = document.getElementById('preview');
  var info = document.getElementById('info');
  var scanner = new Instascan.Scanner({ video: videoTag });

  //QRコードを認識して情報を取得する
  scanner.addListener('scan', function (value) {
    info.textContent = value;
    location.href = value;
  });

  //PCのカメラ情報を取得する
  Instascan.Camera.getCameras()
  .then(function (cameras) {

      //カメラデバイスを取得できているかどうか？
      if (cameras.length > 0) {

        //スキャンの開始
        scanner.start(cameras[0]);
      }
      else {
        alert('カメラが見つかりません！');
      }
  })
  .catch(function(err) {
    alert(err);
  });
</script>
<style>
  #preview {
      margin: auto;
      width: 260px;
      text-align: center;
  }
  #info {
      font-size: 4em;
      font-weight: bold;
      color: #666;
  }
</style>